__pycache__/
*.py[cod]
*.spec

build/
build_final/
build_py313/
build_py313_admin/
dist/
release/
release_final/
release_py313/
release_py313_admin/

network_routine_settings.json
network_routine.log
compile_check.pyc*
내부망.bat
외부망.bat

*.tmp
